{{ define "css" }}
{{ partial "include-css" "blog" }}
{{ end }}

{{ define "main" }}
<main id="blog">
    <article class="grid">
        <h1 class="title">{{ .Title }}</h1>
        <p class="info">{{ .Date.Format "Jan 02, 2006" }} &bullet; {{ .ReadingTime }} minute read</p>
        {{ .Content }}
    </article>
    <div id="nav-posts" class="grid">
        <div role="navigation" class="nextprev">
            <article>
                {{ if (ne .NextInSection nil) }}
                <a href="{{ .NextInSection.Permalink }}">
                    <h1>
                        {{ .NextInSection.Title }}
                    </h1>
                </a>
                {{ .NextInSection.Description }}
                {{ end }}
            </article>
            <article>
                {{ if (ne .PrevInSection nil) }}
                <a href="{{ .PrevInSection.Permalink }}">
                    <h1>
                        {{ .PrevInSection.Title }}
                    </h1>
                </a>
                {{ .PrevInSection.Description }}
                {{ end }}
            </article>
        </div role="navigation">
    </div>
</main>
{{ end }}