/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

:root {
    --text-color: #222;
    --text-color-alt: #667;
    /* --hovered-link-color: #f33; */
    --transition-speed: 0.2s;
    --page-background: #fcfcfc;
    --page-background-alt: #f4f4f4;
    --page-width: 768px;
    --page-width: 700px;
    --page-width-wider: 1200px;
    --monospace: Consolas, Menlo, monospace;
    --light-gray: #888;
    --narrow-light-gray: #e8e8e8;
    --element-light-gray: #cecece;
    --accent-purple: #8528ff;
    --accent-green: #06d6a0;
    --accent-red: #ff6961;
    --accent-yellow: #f0a30a;
    --accent-blue: #00b3e5;
    --accent-blue: #28f;
    --link-color: #007bff;
    --accent-indigo: #6a00ff;
    --accent-indigo: #764afa;
    --dark-background: #2f3542;
    --dark-background: rgb(40, 45, 50);
    /* --hover-highlight: salmon; */
    /* --hover-highlight: var(--accent-green); */
    /* --hover-highlight: var(--link-color); */
    /* --hover-highlight: var(--accent-indigo); */
    --hover-highlight: var(--accent-yellow);
    --shadow-color: rgba(0, 0, 0, 0.3);
}

html, body {
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: var(--page-background);
    -webkit-transition: color var(--transition-speed);
    transition: color var(--transition-speed);
    -webkit-transition: background-color var(--transition-speed);
    transition: background-color var(--transition-speed);
}

em {
    padding-right: 0.05em;
}

code {
    font-family: var(--monospace);
}

blockquote {
    margin: 0;
    padding-left: 1.5em;
    border-left: 4px solid var(--element-light-gray);
    color: var(--light-gray);
}

a {
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid var(--narrow-light-gray);
    color: inherit;
    -webkit-transition: color var(--transition-speed);
    transition: color var(--transition-speed);
}

main p a {
    color: var(--link-color);
    color: #38f;
    color: var(--accent-blue);
}

a:hover, a:focus {
    color: var(--hover-highlight);
}

a.hover-bar::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0px;
    width: 0px;
    height: 3px;
    background-color: var(--hover-highlight);
    -webkit-transition: width var(--transition-speed);
    transition: width var(--transition-speed);
}

a.hover-bar:hover::after, a.hover-bar:focus::after {
    width: 100%;
}

hr {
    border: none;
    border-bottom: 1px solid var(--narrow-light-gray);
}

figure {
    margin: 0;
}

.main-wrapper {
    background-color: var(--page-background);
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

main {
    position: relative;
    max-width: var(--page-width);
    max-width: var(--page-width-wider);
    margin: auto;
    padding: 1em;
    padding-bottom: 6em;
}

main h1 {
    margin-top: 2em;
}

main>.title {
    font-size: 2.6em;
}

section.narrow {
    margin: auto;
    max-width: var(--page-width);
}

.section-title {
    font-size: 2em;
    text-align: center;
    text-align: right;
    color: var(--narrow-light-gray);
    text-transform: lowercase;
}

/* === NAVIGATION ========================================================== */

header {
    /* padding: 1em calc((100vw - var(--page-width)) / 2); */
    padding: 2em 1em 1em 1em;
    max-width: var(--page-width);
    max-width: var(--page-width-wider);
    margin: auto;
    /* box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.2); */
    /* box-shadow: 0 -0.5em 1em 0 rgba(0,0,0.2); */
    background-color: var(--page-background);
    /* box-shadow: 0 0 2em 3em var(--page-background); */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}

header a {
    border: none;
    padding: 1em;
}

header .title {
    float: left;
    font-size: 1.2em;
    letter-spacing: -1px;
}

header .title a {
    padding-left: 0;
}

header::after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style-type: none;
    margin-top: 0.2em;
    padding: 0;
}

nav li {
    float: left;
    margin: 0;
}

/* === INTRO =============================================================== */

section.intro {
    margin: auto;
    margin-top: 10%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: -webkit-min-content 1em 1fr;
    -ms-grid-columns: min-content 1em 1fr;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    gap: 1em;
}

.intro .image {
    width: 10em;
    height: 10em;
}

.intro img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 60% 50%;
    object-position: 60% 50%;
}

.intro .title {
    font-size: 2.4em;
    font-weight: bold;
    text-align: left;
}

@media (min-width: 700px) {
    section.intro .title {
        text-align: center;
    }
}

.intro .subtitle {
    font-size: calc(1em / 1.4);
    color: var(--light-gray);
    /* color: var(--accent-indigo); */
}

/* === FOOTER ============================================================== */

footer {
    background-color: var(--page-background-alt);
    color: var(--text-color-alt);
    padding: 6em 0 8em;
    height: calc(100vh - 6em - 8em);
    /* position: -webkit-sticky;
    position: sticky; */
    /* position: fixed; */
    /* bottom: 0px; */
    /* z-index: 0; */
}

footer .foot {
    position: relative;
    height: 100%;
    padding: 0 1em;
    max-width: var(--page-width);
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-box-align: center;
    align-items: center;
}

footer .foot .content {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    -ms-grid-row: 2;
    grid-row: 2;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--page-width) / 3), auto));
    grid-auto-flow: row;
}

footer .foot h4 {
    margin: 1em 0;
}

footer .foot i {
    width: 1.2em;
}

footer .foot .message {
    text-align: center;
    font-size: 2em;
}

footer a {
    border-color: var(--element-light-gray);
}

/* === BLOG POST CARDS ===================================================== */

section.card-container {
    position: relative;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin: auto;
}

.card-container.post-container {
    /* -webkit-columns: calc(var(--page-width) / 3.2);
    -moz-columns: calc(var(--page-width) / 3.2);
    columns: calc(var(--page-width) / 3.2); */
    column-width: 250px;
}

.card-container.project-container {
    /* -webkit-columns: calc(var(--page-width) / 2.4);
    -moz-columns: calc(var(--page-width) / 2.4);
    columns: calc(var(--page-width) / 2.4); */
    column-width: 300px;
}

.card-container .see-more {
    --hover-highlight: var(--link-color);
    padding: 3em;
    width: calc(100% - 6em);
    position: relative;
    display: block;
    font-weight: bold;
    color: var(--hover-highlight);
}

.card-container .see-more i {
    font-size: 0.85em;
    padding-left: 0.3em;
    -webkit-transition: padding var(--transition-speed);
    transition: padding var(--transition-speed);
    -webkit-transition-delay: calc(var(--transition-speed) / 1.5);
    transition-delay: calc(var(--transition-speed) / 1.5);
}

.card-container .see-more:hover i, .card-container .see-more:focus i {
    padding-left: 1em;
}

.card {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -webkit-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    display: table;
    width: calc(100% - 2em);
    margin-bottom: 1em;
    position: relative;
    padding: 1em;
    background-color: var(--page-background);
    box-shadow: 0px 0px 4px -2.5px var(--shadow-color);
    -webkit-transition: all var(--transition-speed);
    transition: all var(--transition-speed);
    /* FIX for Chrome: Prevents box shadow from bleeding to previous column */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.card:hover, .card:focus {
    cursor: pointer;
    box-shadow: 1px 1px 4px -1px var(--shadow-color), inset 3.5px 0px 0px 0px var(--hover-highlight);
}

.card:hover h2, .card:focus h2 {
    color: var(--hover-highlight);
}

.card .date {
    margin: 0;
    text-align: right;
    font-family: var(--monospace);
    font-size: 0.85em;
    color: var(--light-gray);
}

.card .subline {
    font-weight: lighter;
    font-size: 1.1em;
    margin-top: 0;
}

.card .image {
    position: relative;
    width: 100%;
    background-color: var(--element-light-grey);
    padding-bottom: 66.6%;
    margin-bottom: 0.5em;
}

.card .image>* {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* === POSTS =============================================================== */

main.post {
    /* max-width: var(--page-width); */
    font-size: 19px;
}

.post .title {
    font-size: 2.6em;
    margin-top: 2.6em;
}

.post .info {
    font-family: var(--monospace);
    color: var(--light-gray);
    font-size: 0.85em;
}

.post article {
    max-width: var(--page-width);
    margin: auto;
}

.post article .content {
    margin-top: 4em;
}

.post article h2 {
    margin-top: 1.4em;
}

.post article p {
    letter-spacing: 0.5px;
    line-height: 1.4;
}

.post article figure {
    width: 66.6%;
    margin: auto;
}

.post article figure img {
    width: 100%;
}

.post article figure figcaption>* {
    color: var(--light-gray);
    font-size: 0.85em;
    margin-top: 0;
}

.post article .content>hr {
    border: none;
    position: relative;
    margin: 1.5em 0;
    text-align: center;
}

.post article .content>hr::after {
    content: "\2022 \2022 \2022";
    width: 100%;
    color: var(--narrow-light-gray);
}

.post .nextprev {
    position: relative;
    display: grid;
    margin: auto;
    margin-top: 4em;
    grid-template-columns: repeat(2, 1fr);
    gap: 4em;
    text-align: center;
    width: 100%;
    /* width: var(--page-width); */
}

.post .nextprev a {
    height: 100%;
    /* max-width: 12em; */
}

.post .nextprev .disabled {
    pointer-events: none;
    color: var(--element-light-gray);
    box-shadow: none;
}

/* This shifts the hash positions so that they aren't covered by the header. */

sup[id^="fnref:"], li[id^="fn:"] {
    padding-top: 6em;
    margin-top: -6em;
}

.footnote-ref, .footnote-backref {
    color: var(--light-gray);
}

.footnotes {
    color: var(--light-gray);
    font-size: 0.85em;
    padding: 1em 0;
}

.post .tags-list {
    margin-left: 1em;
    margin-right: 1em;
}

/* === TAGS ================================================================ */

.tags-list {
    list-style-type: none;
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
    overflow: hidden;
    color: var(--light-gray);
}

.tag a {
    font-size: 0.85em;
    border: none;
    float: left;
    margin: 0.2em 0.4em 0.2em 0;
    padding: 2px 6px;
    background-color: var(--narrow-light-gray);
    background-color: var(--narrow-light-gray);
    border-radius: 4px;
}

/* === PORTFOLIO =========================================================== */

.portfolio {
    --indent-width: 2em;
}

.portfolio h1:not(.title) {
    color: var(--element-light-gray);
}

.portfolio h2 {
    margin: 0;
    margin-top: 1em;
    padding-bottom: 0.2em;
}

.portfolio h3 {
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0;
}

.portfolio p {
    margin-left: var(--indent-width);
}

.portfolio table {
    border-spacing: var(--indent-width) 8px;
    margin-bottom: 1em;
}

.portfolio th {
    font-size: 1.2em;
}

.portfolio td {
    min-width: 8em;
    vertical-align: top;
}

.portfolio small {
    font-size: 0.85em;
    color: var(--light-gray);
}