h1 {
  color: #333;
}

/* ----- Navbar ----- */
  .navbar {
    transition: background-color 0.5s ease;
  }

  .navbar.scrolled {
      background-color: rgb(30, 30, 30, 0.95);}

  @media screen and (max-width: 700px) {
      .navbar {
          background-color: #1e1e1e;
      }
  }

/* Bio */
  #bio h3 {
    font-weight: lighter;
    font-size: 20px;
  }
  #bio h4 {
    font-weight: normal;
  }
  #bio hr {
    padding: 5vh;
  }

/* ----- Footer ----- */
  #footer a {
    text-align: center;
    color: #eee;
    padding: 5px;
    padding-top: 60px;
    padding-bottom: 40px;
  }
