/* Header */
  #header h1 {
    font-size: 5em;
    text-align: right;
    padding: 2em;
    color: #FFFAF0;
    font-weight: lighter;
  }


/* ----- Navbar ----- */
  .navbar {
    transition: background-color 0.5s ease;
  }

  .navbar.scrolled {
      background-color: #111;
      opacity: 0.9;}

  @media screen and (max-width: 700px) {
      .navbar {
          background-color: #1e1e1e;
      }
  }

  .navbar .navbar-nav .nav-item .nav-link {
    font-weight: lighter;
    font-size: 14px;
    color: #b3b3bf;

  }

  .navbar .navbar-nav .nav-item a:hover {
    color: #ddd
  }

/* Bio */
  #bio h3 {
    font-weight: lighter;
    font-size: 20px;
  }
  #bio h4 {
    font-weight: normal;
  }
  #bio hr {
    padding: 5vh;
  }
  #bio p {
    text-align: justify;
  }

/* Resume */
  #resume h3 {
    font-weight: lighter;
    font-size: 20px;
  }
  #resume h4 {
    font-weight: normal;
  }
  #resume hr {
    padding: 5vh;
  }
  #resume p {
    text-align: justify;
  }

/* ----- Footer ----- */
  #footer a {
    text-align: center;
    color: #b3b3bf;
    text-decoration: none;
    font-weight: lighter;
    font-size: 14px;
    padding: 5px;
  }

  #footer a:hover {
    color: #ddd;
  }
