/* CSS STYLE SHEET */

#overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(20, 20, 20, 0.2);
  position: fixed;
  z-index: 1000;
  text-align: center;
  display: grid;
}

.pre-loader {
  align-self: center;
  color: #fff;
}

.no-js #overlay {
  display: none;
}

.grid {
  background-color: #eee;
  background: linear-gradient(-45deg, #ddd, #eeeeec);
}

.nav {
  padding: 0.5em;
  padding-left: 1em;
  list-style-type: none;
  position: absolute;
}

.nav li {
  display: inline-block;
  font-size: 0.8em;
}

.nav li a {
  text-decoration: none;
  margin-right: 1em;
  color: #eee;
  transition: color 0.3s, background-color 0.3s;
}

.nav li a:hover {
  color: #111;
  background-color: #eee;
}

.title {
  background: #eeeeec;
  background: linear-gradient(-45deg, #ddd, #eeeeec);
  background-image: url(forestbg.jpg);
  background-size: cover;
  background-position: bottom;
  text-align: center;
  display: grid;
  grid-template-rows: 100vh;
  align-items: center;
}

.title .title-name {
  font-size: 2em;
  font-weight: lighter;
  color: #fff;
  padding: 0 0.5em;
}

.title .title-logo {
  position: absolute;
  left: calc(50% - 3em);
  top: calc(50% - 8em);
}

.title .title-logo img {
  height: 6em;
  width: 6em;
}

.page-top {
  height: 2.6em;
  background: linear-gradient(-45deg, #111, #1c1308);
  padding: 0.5em 1em;
}

.page-top img {
  height: 1.7em;
  width: 1.7em;
  margin-right: 0.5em;
}

.page-top ul {
  display: inline-block;
  list-style: none;
  padding: 0;
  font-size: 0.8em;
}

.page-top li a {
  text-decoration: none;
  color: #eee;
  transition: color 0.3s, background-color 0.3s;
}

.page-top li a:hover {
  color: #111;
  background-color: #eee;
}

.overview {
  padding: 4em 1em;
  box-shadow: 0px 5px 15px 5px #222;
}

h5.l {
  font-weight: lighter;
}

p {
  font-size: 18px;
  text-align: justify;
}

.section-title {
  position: absolute;
  padding: 1.7em 1em;
  font-variant: small-caps;
  text-align: center;
  color: #bbb;
}

.divider {
  height: 6em;
  background: #111;
}

.divider>div {
  box-shadow: 0px 5px 15px -5px #222 inset;
  background-size: cover;
}

.break1 {
  height: 100%;
  background-image: url(mountainbg.jpeg);
  background-position: 0% 80%;
}

.break2 {
  height: 100%;
  background-image: url(autumnbg.jpg);
  background-position: 0% 30%;
}

.news {
  padding: 4em 1em;
  box-shadow: 0px 5px 15px 5px #222;
}

.pdf-container {
  padding: 4em 1em;
  box-shadow: 0px 5px 15px 5px #222;
}

.contact-title {
  color: #444;
  font-weight: bolder;
}

.media-links {
  padding: 0;
  padding-top: 4em;
  padding-bottom: 2em;
  background: #222;
  background: linear-gradient(-45deg, #111, #1c1308);
  text-align: center;
}

.media-links ul {
  list-style: none;
  padding: 1em;
  line-height: 2;
}

.media-links ul li a {
  color: #ddd;
  text-decoration: none;
  font-weight: lighter;
  font-variant: small-caps;
  transition: color 0.3s, background-color 0.3s;
}

.media-links ul li a:hover {
  color: #111;
  background-color: #eee;
}

.media-links .copyright {
  font-size: 0.7em;
  color: #444;
  float: left;
  padding: 0em 1em;
  margin: 0;
}

.media-links .credits {
  font-size: 0.7em;
  color: #444;
  float: right;
  padding: 0em 1em;
  margin: 0;
}

@media(min-width: 700px) {
  .grid>div {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    grid-gap: 2em;
  }
  .title {
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
  }
  .title .title-name {
    font-size: 2.5em;
  }
  .divider>div {
    background-attachment: fixed;
    background-position: bottom;
  }
  .head {
    grid-column: 2;
  }
  .bio {
    grid-column: 3;
    grid-row: 1/4;
  }
  .content {
    grid-column: 3;
    grid-row: 1;
  }
  .news>div:nth-child(odd) .head {
    grid-column: 3;
    text-align: right;
  }
  .news>div:nth-child(odd) .content {
    grid-column: 2;
  }
  .pdf-download {
    padding: 0;
    grid-column: 2/4;
  }
  .media-links ul {
    text-align: left;
    grid-column: 2/4;
    grid-row: 1;
    padding: 0;
  }
  .media-links .copyright {
    position: absolute;
    grid-column: 3;
    grid-row: 1;
    text-align: left;
    align-self: flex-end;
    padding: 0.5em 1em;
  }
  .media-links .credits {
    position: absolute;
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    align-self: flex-end;
    right: 0;
    padding: 0.5em 1em;
  }
}
