/* CSS STYLE SHEET */

/* FOR PHONES AND LARGER */

/* PRE-LOADER */

#overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #111;
  position: fixed;
  z-index: 999;
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.pre-loader {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
}

.no-js #overlay {
  display: none;
}

/* --- */

/* BASIC FORMATS */

/* Variable font size from Mike Riethmuller */

html {
  font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (768 - 300)));
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}

body {
  color: #333;
  margin: 0;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.heavier {
  font-weight: 600;
}

.lighter {
  font-weight: 100;
}

.smaller {
  font-size: 0.7em;
}

p {
  margin: 1em 0;
  line-height: 1.618em;
  text-align: left;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #007bff;
  text-decoration: underline;
}

.emoji {
  height: 1em;
  position: relative;
  bottom: -0.2em;
}

.news-link {
  color: #333;
}

.news-link .content p {
  text-align: center;
}

.news-title {
  color: #007bff;
}

.blog-nav-link {
  color: #bbb;
}

.footer-link {
  color: #333;
}

.disabled-link, .disabled-link:hover {
  text-decoration: line-through;
  color: #888;
}

hr {
  overflow: visible;
  border: none;
  background-color: #ccc;
  color: #ccc;
  height: 1px;
}

hr.short {
  width: 20%;
}

.double::after {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  top: 2px;
  background-color: #ccc;
}

/* --- */

/* MAIN PAGE */

.grid {
  background-color: #eee;
  background: -webkit-linear-gradient(135deg, #ddd, #eeeeec);
  background: linear-gradient(-45deg, #ddd, #eeeeec);
}

.gridded,
.center-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 33em);
  grid-template-columns: minmax(auto, 33em);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.padded-sides {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padded-ends {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* --- */

/* TOP PAGE NAVIGATION */
.nav {
  margin: 0;
  padding: 0;
  padding-top: 0.5em;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-left ul li {
  float: left;
  margin-right: 1em;
}

.nav-right ul li {
  float: right;
  margin-left: 1em;
}

.nav ul li a {
  font-size: 0.9em;
  text-decoration: none;
  color: #eee;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.nav ul li a:hover {
  color: #111;
  background-color: #eee;
}

.nav::after {
  content: '\00a0 ';
  height: 0;
  width: 0;
}

/* --- */

/* SHADOWS AND FIXED IMAGE */

/* Fixed image workaround from https://medium.com/vehikl-news/fixed-background-image-performance-issue-6b7d9e2dbc55 */

.with-shadow {
  box-shadow: 0px 0px 4px 1px rgba(20, 20, 20, 0.5);
}

.fixed-image {
  position: relative;
  overflow: hidden;
}

.fixed-image::before {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  content: '';
  will-change: transform;
  z-index: -1;
}

/* --- */

/* TITLE */

.title {
  height: calc(100vh - 7em);
  -webkit-transition: 5ms;
  transition: 5ms;
}

.blog-title {
  display: -ms-grid;
  display: grid;
  min-height: 24vh;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-flex-line-pack: end;
      align-content: end;
}

.title-bg::before {
  background-image: url('images/forestbg.jpg');
}

.blog-bg::before {
  background-image: url('images/autumnbg.jpg');
}

.title-name {
  position: relative;
  top: calc(100% - 3em - 50%);
  color: #fff;
  font-size: 2em;
  font-weight: 100;
  text-align: left;
}

.blog-name {
  top: unset;
  padding: 0;
}

.subtitle {
  font-size: 1rem;
  padding: 1em 0em;
}

/* --- */

.heading {
  text-align: center;
}

.section-title {
  position: relative;
  margin: 0;
  height: 0;
  top: 1.5rem;
  font-size: 0.9em;
  font-weight: 600;
  color: #bbb;
}

.section-foot {
  top: -3em;
}

.right-align {
  text-align: right;
}

.divider {
  height: 3em;
}

.post-section {
  position: relative;
}

.post-section a {
  position: absolute;
  color: #ccc;
  text-decoration: none;
  left: -0.8em;

  display: none;
}

.contact-title {
  color: #3a3a3a;
}

.media-links {
  padding: 4em;
  background: #222;
  background: -webkit-linear-gradient(135deg, #111, #1c1308);
  background: linear-gradient(-45deg, #111, #1c1308);
  text-align: center;
}

.media-links ul {
  padding: 0;
  list-style: none;
  line-height: 2;
}

.media-links ul li a {
  color: #ddd;
  text-decoration: none;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

.media-links ul li a:hover {
  color: #111;
  background-color: #eee;
}

.top-button {
  font-weight: 600;
  position: relative;
  /* Full height equal to text */
  font-size: 1.25em;
  top: -0.25em;
  /* Wedge height equal to text, bar above */
  font-size: 1.5em;
  top: -0.35em;
}

.foot {
  position: relative;
  text-align: center;
  top: -2em;
  padding: 0;
  margin: 0;
  height: 0;
}

/* FOR TABLETS AND LAPTOPS */

@media(min-width: 768px) {
  html {
    font-size: 18px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr minmax(auto, 1000px) 1fr;
    grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
    grid-gap: 1em;

    margin: 0;
  }
  body {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .padded-sides {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mobile-padded {
    padding: 0;
  }
  .gridded {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    padding: 4em;
  }
  .thirds-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .heading {
    -ms-grid-column: 1;
    grid-column: 1;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .bio {
    -ms-grid-column: 2/4;
    grid-column: 2/4;
    grid-row: 1/4;
  }
  .bio p {
    position: relative;
    top: -1em;
  }
  .content {
    /* grid-column: 2; */
    /* grid-row: 1; */
    margin: 0;
    padding: 0;
  }
  /* .news>div:nth-child(odd) .heading {
    grid-column: 2;
    text-align: right;
  }
  .news>div:nth-child(odd) .content {
    grid-column: 1;
  } */
  .pdf-download {
    padding: 0;
    -ms-grid-column: 1/3;
    grid-column: 1/3;
  }

  .post-section a {
    display: inline;
  }
}