/* Default values are for when the home page is loaded. */

header {
    position: sticky;
    top: -0.1px; // This must be less than zero to trigger the intersection
    background-color: var(--theme-background);
    border-bottom: 1px solid #0000;
    z-index: 99;

    height: 4em;

    margin-bottom: 20vh;

    transition: border-color 0.3s;

    display: grid;
    grid-template-columns: $grid-xlarge-columns;

    @media (max-width: $size-small) {
        // grid-template-columns: 5px [wide-start] 1fr [wide-end] 5px;
        grid-template-columns: $grid-small-columns;
    }

    & nav {
        grid-column: wide;
        padding: 0 5px;

        display: flex;

        & svg {
            height: 1em;
            stroke-width: 4px;
            vertical-align: middle;
        }

        // Logo and spacer
        & .flexer {
            visibility: hidden;
            opacity: 0;
            align-self: center;
            flex-basis: 0%;
            min-width: 0;
            transition: opacity 500ms 200ms, flex 500ms;
        }

        // Tabs
        & ul {
            flex-basis: 700px;
            transition: flex-basis $transition-speed;
            margin: auto;
            padding: 0;

            display: flex;
            justify-content: space-evenly;
            gap: 1em;

            & li {
                list-style: none;

                & a {
                    display: block;
                    padding: 1em 0;
                }
            }
        }

    }

    &.at-top {

        border-color: #8882;

        & nav {

            & a {
                text-decoration: none;
            }

            & .flexer {
                visibility: visible;
                opacity: 1;
                flex-basis: 100%;
            }

            & ul {
                font-size: 90%;
                flex-basis: 0px;
            }
        }
    }
}

label[for=theme-switcher] {

    cursor: pointer;

    width: min-content;
    height: min-content;

    box-sizing: content-box;
    padding: 1em;

    position: sticky;
    top: 0;
    margin: auto;
    margin-top: -100vh;

    @media (max-width: $size-small) {
        position: fixed;
        top: unset;
        bottom: 1ex;
        right: 1ex;
        margin: 0;
    }

    & input {
        visibility: hidden;
        position: absolute;
    }

    &:hover svg,
    &:focus svg {
        color: $accent-yellow;
    }

    & svg {
        color: var(--theme-text-ultrafaint);
        position: relative;
        top: 2px;

        overflow: visible;

        &>circle.sun {
            transform-origin: center;
            transition: transform $transition-speed;
        }

        &>.sun-beams {
            transform-origin: center;
            transition: opacity $transition-speed, transform $transition-speed;
        }

        &>.moon>circle {
            transform-origin: center;
            transition: transform $transition-speed;
        }

        :root[data-theme='dark'] & {
            &>.sun-beams {
                opacity: 0;
                transform: scale(1.5);
            }

            &>circle.sun {
                transform: scale(1.3);
            }

            &>.moon>circle {
                transform: translateX(-7px);
            }
        }
    }


}