@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@380;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');

$font-body: 'Lexend', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-monospace: 'Cascadia Code';
$font-display: 'Source Serif Pro', Georgia, Times, 'Times New Roman', serif;

$accent-green: hsl(158, 75%, 28%);
// $accent-red: #ff6961;
$accent-red: hsl(350, 83%, 38%);
$accent-yellow: #f0c60a;
$accent-blue: #28f;
$accent-purple: #764afa;

$transition-speed: 100ms;

$grid-xlarge-columns: [full-start] 1fr [wide-start] minmax(200px, 1fr) [main-start] minmax(300px, 800px) [main-end] 1fr [wide-end] 1fr [full-end];
$grid-large-columns: [full-start wide-start] 1fr [main-start] minmax(300px, 800px) [main-end] 1fr [wide-end full-end];
$grid-medium-columns: [full-start wide-start] 5px [main-start] minmax(300px, 800px) [main-end] 5px [wide-end full-end];
$grid-small-columns: [full-start wide-start main-start] minmax(300px, 800px) [main-end wide-end full-end];
// $size-large: 1200px;
// $size-medium: 800px;
$size-small: 650px;
$size-large: 0px;
$size-medium: 0px;
// $size-small: 0px;


$theme-map-light: (
    --theme-background: hsl(30, 25%, 95%),
    --theme-text: #151515,
    --theme-text-faint: #666,
    --theme-text-ultrafaint: #bfbfbf,
    // --theme-primary: lighten($accent-green, 5%),
    --theme-primary: saturate($accent-green, 10%),
    --theme-primary-contrast: darken($accent-green, 10%),
    --theme-secondary: $accent-yellow,
);

$theme-map-dark: (
    --theme-background: hsl(180, 25%, 5%),
    --theme-text: #ffe5e5,
    --theme-text-faint: #777,
    --theme-text-ultrafaint: #555,
    --theme-primary: lighten($accent-green, 15%),
    --theme-primary-contrast: lighten($accent-green, 35%),
    --theme-secondary: $accent-yellow,
);
