@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@380;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap');

$font-body: 'Lexend', 'Segoe UI';
$font-monospace: 'Cascadia Code';
$font-display: 'Source Serif Pro', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

$accent-green: hsl(158, 68%, 28%);
// $accent-red: #ff6961;
$accent-red: hsl(350, 83%, 38%);
$accent-yellow: #f0c60a;
$accent-blue: #28f;
$accent-purple: #764afa;

$transition-speed: 100ms;

$theme-map-light: (
    --theme-background: hsl(30, 25%, 95%),
    --theme-text: #111,
    --theme-text-faint: #666,
    --theme-text-ultrafaint: #bbb,
    --theme-primary: $accent-green,
    --theme-primary-contrast: darken($accent-green, 10%),
    --theme-secondary: $accent-yellow,
);
    
$theme-map-dark: (
    --theme-background: hsl(180, 25%, 5%),
    --theme-text: #fff,
    --theme-text-faint: #555,
    --theme-text-ultrafaint: #333,
    --theme-primary: lighten($accent-green, 15%),
    --theme-primary-contrast: lighten($accent-green, 35%),
    --theme-secondary: $accent-yellow,
);
