@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@380;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');

$font-body: 'Lexend', 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-monospace: 'Cascadia Code';
$font-display: 'Source Serif Pro', Georgia, Times, 'Times New Roman', serif;

$accent-green: hsl(158, 75%, 28%);
$accent-red: hsl(350, 83%, 38%);
$accent-yellow: #f0c60a;
$accent-blue: #28f;
$accent-purple: #764afa;

$transition-speed: 100ms;

:root {
    --col-max-width: 800px;
}
$grid-xlarge-columns: [full-start] 1fr [wide-start] minmax(200px, 1fr) [main-start] minmax(300px, var(--col-max-width)) [main-end] 1fr [wide-end] 1fr [full-end];
$grid-xlarge-columns-right: [full-start] 1fr [wide-start] 1fr [main-start] minmax(300px, var(--col-max-width)) [main-end] minmax(200px, 1fr) [wide-end] 1fr [full-end];
$grid-large-columns: [full-start wide-start] 1fr [main-start] minmax(300px, var(--col-max-width)) [main-end] 1fr [wide-end full-end];
$grid-medium-columns: [full-start wide-start] 5px [main-start] minmax(300px, var(--col-max-width)) [main-end] 5px [wide-end full-end];
$grid-small-columns: [full-start wide-start main-start] minmax(300px, var(--col-max-width)) [main-end wide-end full-end];
$size-small: 650px;
$size-large: 0px;
$size-medium: 0px;


$theme-map-light: (
    --theme-background: hsl(147, 43%, 96%),
    --theme-text: hsl(0, 0%, 10%),
    --theme-text-faint: hsl(147, 8%, 55%),
    --theme-text-ultrafaint: hsl(147, 8%, 80%),
    --theme-primary: hsl(97, 75%, 30%),
    --theme-primary-contrast: hsl(97, 50%, 20%),
);

$theme-map-dark: (
    --theme-background: hsl(147, 5%, 10%),
    --theme-text: hsl(147, 5%, 87%),
    --theme-text-faint: hsl(147, 8%, 47%),
    --theme-text-ultrafaint: hsl(147, 8%, 33%),
    --theme-primary: hsl(97, 35%, 46%),
    --theme-primary-contrast: hsl(97, 30%, 60%),
);
