{{ $num := 999 }}
{{ if .IsHome }}
{{ $num = 3 }}
{{ end }}
<section id="blog" class="grid">

    <h1 class="section-title">Latest posts ✍️</h1>
    <div class="article-wrapper">
        {{ with $pages := where .Site.RegularPages "Section" "blog" }}
        {{ range first $num ($pages.ByParam "date").Reverse }}
        <article>
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
            {{ .Description }}
            <p><small>
                {{ if not $.IsHome }}
                    <time datetime="{{ .Date }}" title="{{ .Date.Format "2006-01-02" }}">
                        {{ .Date.Format "Jan 02, 2006" }}
                    </time>
                    &bullet;
                {{ end }}
                {{ .ReadingTime }} minute read
            </small></p>
        </article>
        {{ end }}
        {{ end }}
        {{ if .IsHome }}
        <article class="see-more">
            <a href="{{ .Site.BaseURL }}blog" class="see-more">
                See all posts
            </a>
        </article>
        {{ end }}
    </div>
</section>