

<footer>
    {{/*  {{ if and (not .IsHome) (ne .Kind "404") }}  */}}
    {{ if and (not .IsHome) (true) }}
    {{/*  <div class="pseudomain">  */}}
        <div>
            <span class="see-less"><a href="{{ .Parent.Permalink }}">
                {{ if .Parent.IsHome }}
                Home
                {{ else }}
                {{ .Parent.Title }}
                {{ end }}
            </a></span>
        </div>
    {{/*  </div>  */}}
    {{ end }}
    <p>
        <!-- Thanks for stopping by, -->
        <a href="https://parkeraddison.com">
            <img src="/images/parker-headshot-small.jpg" alt="">
            Made by Parker</a>,
        <a href="https://github.com/parkeraddison/parkeraddison.github.io"><code><b>&lt;/&gt;</b></code> on
            GitHub</a>
    </p>
    <!-- <p>
:)
</p> -->
</footer>