<footer>
    {{/*  {{ if and (not .IsHome) (ne .Kind "404") }} */}}
    {{ if and (not .IsHome) (true) }}
    {{/*  <div class="pseudomain">  */}}
    <div>
        <a href="{{ .Parent.Permalink }}" class="see-less">
            {{ if .Parent.IsHome }}
            Home
            {{ else }}
            {{ .Parent.Title }}
            {{ end }}
        </a>
    </div>
    {{/*  </div>  */}}
    {{ end }}
    <p>
        <!-- Thanks for stopping by, -->
        <a href="https://parkeraddison.com">
            <img src="/images/parker-headshot-small.jpg" alt="">
            Made by Parker</a>,
        <a href="https://github.com/parkeraddison/parkeraddison.github.io">&lt;/&gt; on
            GitHub</a>
    </p>
    <!-- <p>
:)
</p> -->
</footer>