{{ $num := 999 }}
{{ if .IsHome }}
{{ $num = 5 }}
{{ end }}
<section id="news" class="grid">

    <h1 class="section-title">News 👉</h1>
    {{ with $pages := where .Site.RegularPages "Section" "news" }}
    {{ range first $num ($pages.ByParam "date").Reverse }}
    <article>
        <h1>
            <time datetime="{{ .Date }}" title="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "01/02" }}:</time>
        </h1>
        {{ .Content }}
    </article>
    {{ end }}
    {{ end }}
    {{ if .IsHome }}
    <article class="see-more">
        <a href="{{ .Site.BaseURL }}news" class="see-more">
            Older
        </a>
    </article>
    {{ end }}
</section>