html, body {
    font-family: Chronicle, 'Minion Pro', Cambria, Georgia, Times, 'Times New Roman', serif;
    background-color: #fcfcfc;
    display: grid;
    grid-template-columns: minmax(auto, 46rem);
    justify-content: center;
    margin: 0;
}

a {
    color: #006A96;
    text-decoration: none;
    border-bottom: solid 1px #eee;
}

a:hover {
    color: #FFCD00;
    border-color: #FFCD00;
}

.page {
    padding: 0.5em;
    margin-top: 0;
    box-shadow: 1px 1px 4px -2px #000;
}

.head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: min-content;
    margin: 0.5em 0;
}

.head p {
    padding: 0;
    margin: 0;
    font-size: 1.8em;
    line-height: 2rem;
    color: #10284A;
}

.logo {
    background-image: url("./UCSanDiegoLogo-BlueGold.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.bar {
    margin: 0.8em 0;
    padding-bottom: 0.5em;
    border-bottom: solid 1px #eee;
}

.bar ul {
    margin: 0;
    padding: 0;
}

.bar ul li {
    display: inline;
    margin-right: 0.5em;
}

.bio img {
    float: left;
    height: 200px;
    width: 200px;
    padding: 4px;
    border: solid 1px #eee;
    margin-right: 20px;
    margin-bottom: 10px;
}

.bio .info b {
    white-space: nowrap;
}

.main {
    clear: left;
}

dl {
    margin: 0;
}

dl dt {
    padding-bottom: 0.5em;
    font-weight: bolder;
    color: #667;
}

dl dd {
    line-height: 1.2em;
}

dl dd ul {
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: solid 1px #eee;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}