footer {
    margin: 8em 0;
    text-align: center;
}
footer p,
footer p > * {
    color: var(--text-extra-light);
    font-size: 90%;
    text-decoration: none;
    border: none;
}
footer img {
    position: relative;
    height: 1.2em;
    top: 0.3em;
    border: 1.5px solid var(--narrow-light-grey);
    border-radius: 100%;
}