
aside article {
    padding: 0;
    margin: 0;
    margin-bottom: 4em;
}

aside .title {
    margin: 0;
}

aside .description {
    opacity: 0;
    max-height: 0;
    margin: 0.25em 0;
    transition: opacity var(--transition-speed),
        max-height var(--transition-speed);
    hyphens: auto;
}

aside article:hover .description {
    opacity: 1;
    max-height: 3em;
}

aside .date {
    display: none;
    color: var(--text-color-alt);
    font-weight: 500;
    font-size: 0.9em;
    margin: 1em 0;
    margin: 0;
}

aside .see-more a {
    padding-bottom: 4em;
}

/* === Smaller Viewports ==================================================== */

@media only screen and (max-width: 940px) {
    #aside-wrapper {
        position: static;
        width: 100%;
    }

    .article-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        gap: 3em;
    }

    aside article {
        margin-bottom: 0;
    }

    aside .description {
        display: none;
        height: 0;
    }
}
