.project {
    margin-bottom: 2em;
}

.hgroup h1 {
    font-size: 130%;
    margin-bottom: 0;
}

.hgroup h2 {
    margin-top: 0;
}

.hgroup h2 a {
    color: var(--text);
    text-decoration: none;
}

.project-body figure {
    width: 36%;
    margin: 0;
    margin-right: 16px;
    float: left;
}

.project:nth-of-type(even) figure {
    margin: 0;
    margin-left: 16px;
    float: right;
}

.project .links {
    text-align: right;
}

.project .links a {
    margin-left: 8px;
    text-decoration: none;
}