#blog > article {
    font-size: 110%;
}

#blog > article > * {
    grid-column: narrow;
}

#blog > article h1 {
    font-size: 2.6em;
    margin-bottom: 0;
}

p, ul, ol, li {
    line-height: 1.45;
    margin-top: 0;
}

p + ul, p + ol {
    margin-top: -1em;
}

.info, .margin-note, figcaption {
    color: var(--text-light);
    font-size: 85%;
}

.margin-note {
    grid-column: right;
}

hr {
    width: 100%;
    border: 1px solid var(--narrow-light-grey);
    border: 1px solid var(--text-extra-light);
}

table {
    display: block;
    /* margin: 0 auto 1em; */
    margin-bottom: 1em;
    max-width: 100%;
    width: max-content;
    overflow-x: auto;

    border-collapse: collapse;
    border: 1px solid var(--element-light-grey);
}

th,
td {
    border: 1px solid var(--element-light-grey);
    padding: 4px;
}

figure.raw {
    margin: 1em auto;
}

figure img {
    max-width: 100%;
}

.footnotes {
    font-size: 91%;
}

[id^='fnref'],
[id^='fn:'] {
    padding-top: 8em;
    margin-top: -8em;
}

/* Make the targeted note flash when jumping */
@keyframes highlight-flash {
    0% {
        background-color: rgba(var(--highlight-rgb), 0);
    }
    50% {
        background-color: rgba(var(--highlight-rgb), 1);
    }
    100% {
        background-color: rgba(var(--highlight-rgb), 0);
    }
}

:target >* {
    --highlight-rgb: 247, 214, 27;
    --highlight-rgb: 255, 200, 200;
    animation: highlight-flash 1500ms ease-in-out;
}

.nextprev {
    grid-column: wide;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding-top: 4em;
    margin-top: 4em;
    border-top: 2px solid var(--text-extra-light);
}
