/* === PORTFOLIO =========================================================== */

main {
    --indent-width: 2rem;
}

main h1:not(.section-title) {
    /* color: var(--text-extra-light); */
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
}

main ul:first-of-type {
    list-style-type: none;
    border-left: 3px solid var(--element-light-grey);
    padding-left: 1em;
}

main h2 {
    margin: 0;
    margin-top: 2em;
    padding-bottom: 0.2em;
}

main h2 a {
    /* border-bottom: 1px solid #ddd; */
}
main h2 a:hover,
main h2 a:focus {
    /* border-bottom: 2px solid var(--link-color); */
}

main h3 {
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0;
}

main p {
    margin-left: var(--indent-width);
}

/* Weird table css/html bug:

1. Create a table with two columns
2. In one of the rows, have the first cell be whatever
3. In the second cell, type 68 characters
    I used:
    1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4a
4. Observe that you can specify column widths
    Try setting
    table { width: 100% }
    th:first-child { width: 20% }

   There do appear to be limits... you can't set the width narrower than the
   content...
5. Observe that text in the second column wraps
6. In the second cell, type 69 (or more) characters
    I used:
    1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4 5 6 7 8 9 0 1 2 3 4ab
7. Observe that the columns are now the same computed width, regardless of any
   css that you may attempt.
8. ???
   Panic.
   Turn the table into a grid or flex...
9. Wonder:
    - Does this have something to do with wrapping? White-space?
    - Because break word is probably off, this doesn't happen with a continuous
    string of characters... not even if I type 80+ continuous characters and
    then a few words with whitespace...
    - Hmmm. Okay, so by prefixing whatever paragraph I have with a continuous
    string of a certain length, the cell will resize. Like, insert
        123456789012345678901234567890
    before something that breaks, and then it'll resize.
    - This is messy and messed up. I am not pursuing it any longer.
    - I can get some stuff happening by setting percentage widths on the cols,
    but this is actually inconsistent between tables of the same width... so I'm
    not sure what's going on there. Also, if I set table-layout to fixed, it all
    breaks again.
*/
table {
    width: calc(100% - var(--indent-width));
    margin-bottom: 1em;
    margin-left: var(--indent-width);
    color: var(--text);
}

table tbody {
    display: table-cell;
    width: 100%;
}

table tr {
    display: grid;
    grid-template-columns: 10em 1fr;
    width: 100%;
    margin: 4px 0;
}

table th {
    font-size: 1.2em;
    width: 100%;
}
