<!-- Future improvement: Structure yaml with years as a top-level field so that
news entries can be grouped under year headers -->
{% assign sorted =  site.data.news | sort: "date" | reverse %}
{% for event in sorted | limit: include.limit %}
    <article class="_news">
        <h1>
            <!-- <p> -->
                <time datetime="{{ event.date }}" title="{{ event.date | date: '%B %d, %Y' }}">
                    {{ event.date | date: "%b %Y" }}
                </time>
            <!-- </p> -->
        </h1>
        <div class="content">
            {{ event.description | markdownify }}
        </div>
    </article>
{% endfor %}
{% if include.limit %}
    <article>
        {%- include action.html href="/news" text="Older" -%}
    </article>
{% endif %}
