<div class="_posts">
{% assign sorted =  site.blog | sort "date" | reverse %}
{% for post in sorted | limit: include.limit %}
    <article class="_post">
        <h1>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        {{ post.description }}
        <div class="reading-time">
            {% assign words = post.content | number_of_words %}
            {% if words < 360 %}
            1 minute
            {% else %}
            {{ words | divided_by:180 }} minutes
            {% endif %}
        </div>
    </article>
{% endfor %}
{% if include.limit %}
    <article>
        {%- include action.html href="/blog" text="See all posts" -%}
    </article>
{% endif %}
</div>