{{ define "css" }}
{{ partial "include-css" "blog" }}
{{ end }}

{{ define "main" }}
<main class="post with-margin">

        <h1 class="title">{{ .Title }}</h1>
        <p class="info">{{ .Date.Format "Jan 02, 2006" }} &bullet; {{ .ReadingTime }} minute read</p>
        {{ .Content }}
    <hr>
    {{/* <p class="info">Related:</p>{{ partial "tags.html" . }} */}}
    <div class="nextprev">
        {{ if (ne .NextInSection nil) }}
        <a href="{{ .NextInSection.Permalink }}">
            {{ .NextInSection.Title }}
        </a>
        {{ end }}
        {{ if (ne .PrevInSection nil) }}
        <a href="{{ .PrevInSection.Permalink }}">
            {{ .PrevInSection.Title }}
        </a>
        {{ end }}
    </div>
</main>
{{ end }}