:root {
    --sans-serif: 'Lexend Deca', sans-serif;
    --serif: 'Source Serif Pro', Cambria, Cochin, Georgia, Times,
        'Times New Roman', serif;
    /* --serif: 'PT Serif'; */
    --monospace: Consolas, Menlo, monospace;

    --bg: #fbfbf8;
    --bg: hsl(26, 60%, 95%);
    --text: #282833;
    --text-light: #888;
    --text-light: #657580;
    --text-light: #a6a4a4;
    --text-extra-light: #bbb;
    --link-color: rgb(173, 88, 105);
    --link-color: #AD5869;
    --link-color: hsl(355, 83%, 37%);

    --light-grey: #888;
    --narrow-light-grey: #e8e8e8;
    --element-light-grey: #cecece;
    --accent-purple: #8528ff;
    --accent-green: #06d6a0;
    --accent-red: #ff6961;
    --accent-yellow: #f0c60a;
    --accent-blue: #00b3e5;
    --accent-blue: #28f;
    --accent-indigo: #764afa;
}

* {
    box-sizing: border-box;
}

/* === Responsive Grid ====================================================== */

:root {
    --grid-layout: [page-start] 1fr [wide-start left-start] 300px [left-end
        narrow-start] 333px [midpoint] 333px [narrow-end right-start] 300px
        [right-end wide-end] 1fr [page-end];
    --column-gap: 16px;
    --row-gap: 16px;
}

@media screen and (max-width: 1372px) {
    :root {
        --grid-layout: [page-start] 0px [wide-start left-start] 1fr [left-end
            narrow-start] 333px [midpoint] 333px [narrow-end] 1fr [wide-end] 0px
            [page-end];
    }
}

@media screen and (max-width: 764px) {
    :root {
        --grid-layout: [page-start] 1fr [wide-start narrow-start]
            minmax(300px, 700px) [narrow-end wide-end] 1fr [page-end];
        --column-gap: 0.5em;
    }
}

.grid {
    display: grid;
    grid-template-columns: var(--grid-layout);
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
    width: 100%;
}

.col-narrow {
    grid-column: narrow;
}
.col-wide {
    grid-column: wide;
}

/* === Html, Body =========================================================== */

html,
body {
    font-family: var(--sans-serif);
    background-color: var(--bg);
    margin: 0;

    color: var(--text);
}

/* === Text (headers, paragraphs, em, etcs) ===================================== */

h1,
h2,
h3 {
    font-family: var(--serif);
}

section > h1 {
    font-size: 170%;
}

p {
    margin-top: 0;
}

em {
    padding-right: 2px;
}

small {
    color: var(--text-light);
    font-family: var(--sans-serif);
}

code,
pre.sourceCode {
    font-size: 90% !important;
    font-family: var(--monospace);
}

span.nowrap {
    white-space: nowrap;
}

.icon svg {
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.15em;
}

/* === Links ================================================================ */

a {
    color: var(--link-color);
    /* text-decoration-color: var(--text-extra-light); */
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline solid var(--link-color) 2px !important;
}

@supports not (text-decoration-thickness: 2px) {
    a:hover, a:focus {
        text-decoration: underline !important;
    }
}

a.see-more {
    padding-right: 2em;
}
a.see-more:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#282833" width="16px" height="16px"><path d="M10.9,13l-1.4-1.4L12.2,9H0V7h12.2L9.5,4.4L10.9,3L16,8L10.9,13z" /></svg>');
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(173, 88, 105)" width="16px" height="16px"><path d="M10.9,13l-1.4-1.4L12.2,9H0V7h12.2L9.5,4.4L10.9,3L16,8L10.9,13z" /></svg>');
    position: absolute;
    margin-left: 0.5em;
    margin-top: 0.15em;
    transition: margin-left 0.1s;
}
a.see-more:hover:after,
a.see-more:focus:after {
    margin-left: 1em;
}

a.see-less {
    padding-left: 2em;
    position: relative;
    left: -8px;
}
a.see-less::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#282833" width="16px" height="16px"><path d="M10.9,13l-1.4-1.4L12.2,9H0V7h12.2L9.5,4.4L10.9,3L16,8L10.9,13z" transform="scale(-1, 1) translate(-16,0)" /></svg>');
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(173, 88, 105)" width="16px" height="16px"><path d="M10.9,13l-1.4-1.4L12.2,9H0V7h12.2L9.5,4.4L10.9,3L16,8L10.9,13z" transform="scale(-1, 1) translate(-16,0)" /></svg>');
    position: absolute;
    left: 0.5em;
    top: 0.15em;
    transition: left 0.1s;
}
a.see-less:hover::before,
a.see-less:focus::before {
    left: 0em;
}

a.see-more,
a.see-less {
    color: var(--text);
    color: var(--link-color);
    text-decoration: none;
}

/* === General page layout, sections and articles =========================== */

section.grid > h1 {
    grid-column: left;
    text-align: right;
    position: sticky;
    top: 4em;
    height: 0;
    margin-right: 1em;
}

@media screen and (max-width: 1024px) {
    section.grid > h1 {
        grid-column: wide;
        text-align: left;
        position: static;
    }
}

section {
    margin-bottom: 4em;
}

.grid > article,
.grid > .article-wrapper {
    grid-column: narrow;
}

section article:first-of-type,
section .article-wrapper article {
    margin-top: 28px;
}

.article-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 24px;
}

article h1 {
    margin-top: 0;
}

article.see-more {
    margin-top: 1em;
}

