:root {
    --text-color: #303030;
    --text-color-alt: #778;
    --text-width: 36rem;

    --transition-speed: 0.1s;
    --page-background: #fcfcfc;
    --page-background-alt: #f4f4f4;
    --page-width: 768px;
    --page-width: 700px;
    --page-width-wider: 1200px;
    --sans-serif: 'IBM Plex Sans', sans-serif;
    --sans-serif: 'Lexend Deca', sans-serif;
    --serif: 'Source Serif Pro', Cambria, Cochin, Georgia, Times,
        'Times New Roman', serif;
    --monospace: Consolas, Menlo, monospace;

    --light-grey: #888;
    --narrow-light-grey: #e8e8e8;
    --element-light-grey: #cecece;
    --accent-purple: #8528ff;
    --accent-green: #06d6a0;
    --accent-red: #ff6961;
    --accent-yellow: #f0c60a;
    --accent-blue: #00b3e5;
    --accent-blue: #28f;
    --link-color: #007bff;
    --accent-indigo: #764afa;
    --dark-background: #2f3542;
    --dark-background: rgb(40, 45, 50);

    --header-width: 8em;
    --aside-width: 18em;
    --side-margin: 4em;
    --top-margin: 4em;
    --gap: 4em;

    --link-color: rgb(110, 140, 255);
    --link-color: rgb(120, 130, 250);
}

/* === Raw elements ========================================================= */

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--sans-serif);
    font-size: 19px;
    background-color: var(--page-background);
    color: var(--text-color);
}

p {
    color: var(--text-color-alt);
}

p i,
p em {
    padding-right: 2px;
}

p code {
    font-family: var(--monospace);
    /* color: #f26; */
    font-size: 90%;
    padding: 4px 4px 2px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

h1,
h2,
h3 {
    font-family: var(--serif);
    font-weight: 600;
}

h1 {
    font-size: 150%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 100%;
}

h1.section-title {
    font-family: var(--serif);
    font-size: 110%;
    font-family: var(--sans-serif);
    color: var(--text-color-alt);
    margin: 0 0 2em;
}

article h1 {
    font-size: 110%;
}

article h2 {
    font-size: 100%;
}

a {
    color: var(--text-color);
    fill: var(--text-color-alt);
    text-decoration: none;
    border-bottom: none;
    transition: color var(--transition-speed),
        border-bottom var(--transition-speed);
}

a:hover,
a:focus {
    color: var(--link-color);
    fill: var(--link-color);
}

p a {
    color: var(--text-color-alt);
    border-bottom: 1px solid #ddd;
}

p a:hover,
p a:focus {
    border-bottom: 2px solid var(--link-color);
}

span.see-more a,
span.see-less a {
    display: inline-block;
    width: 100%;
    font-size: 95%;
    padding-bottom: 1em;
    padding-top: 0.5em;
    margin-top: 0.5em;
    position: relative;
}
span.see-less a {
    padding-left: 1em;
}

span.see-more a::after {
    content: ' \2192';
    padding-left: 0;
    transition: padding-left var(--transition-speed);
}
span.see-more a:hover::after,
span.see-more a:focus::after {
    padding-left: 1em;
}

span.see-less a::before {
    content: '\2190 ';
    padding-left: 0;
    position: absolute;
    left: 0;
    transition: left var(--transition-speed);
}
span.see-less a:hover::before,
span.see-less a:focus::before {
    left: -1em;
}

#body-container {
    display: grid;
    grid-template-columns: var(--header-width) 1fr var(--aside-width);
    gap: var(--gap);
    padding: var(--top-margin) var(--side-margin);
    margin: 0;
}

main > :not(.main-like),
.main-like > :not(.main-like) {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--text-width);
}

.generic-wrapper {
    position: relative;
}

section {
    margin-bottom: 6em;
}

main > article,
main section > article {
    margin: 0 0 4em;
}

main article hgroup {
    margin: 1em 0;
    position: relative;
}

main article hgroup > * {
    margin: 0.25em 0;
}

main article .subtitle {
    font-weight: normal;
    font-size: 1.1em;
}

main article figure {
    margin: 1em 0;
    text-align: center;
}

main article p {
    --text-color: var(--text-color-alt);
}

/* === Smaller Viewports ==================================================== */

@media only screen and (max-width: 1500px) {
    :root {
        --side-margin: 1em;
        --aside-width: 20vw;
        --gap: 2em;
    }
}

@media only screen and (max-width: 1100px) {
    html, body {
        font-size: 17px;
    }
}

@media only screen and (max-width: 960px) {
    :root {
        --top-margin: 0;
        --side-margin: 0.5em;
    }

    #body-container {
        grid-template-columns: 1fr;
    }
}

/* === No hover capability ================================================== */

@media (hover: none) {
    span.see-more a {
        /* color: var(--link-color); */
    }

    a h1 {
        text-decoration: underline;
        text-decoration-color: var(--link-color);
        text-decoration-style: dashed;
    }
}
