<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="../../style.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

  <!-- ****** faviconit.com favicons ****** -->
  <link rel="shortcut icon" href="../../favicon/favicon.ico">
  <link rel="icon" sizes="16x16 32x32 64x64" href="../../favicon/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="../../favicon/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="../../favicon/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../favicon/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="../../favicon/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16.png">
  <link rel="apple-touch-icon" href="../../favicon/favicon-57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../favicon/favicon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../favicon/favicon-72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../favicon/favicon-144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../favicon/favicon-60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../favicon/favicon-120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../favicon/favicon-76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../favicon/favicon-152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../favicon/favicon-180.png">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="../../favicon/favicon-144.png">
  <meta name="msapplication-config" content="../../favicon/browserconfig.xml">
  <!-- ****** faviconit.com favicons ****** -->

  <title>Blog title, woohoo</title>
</head>

<body>

  <a id=" "></a>

  <section id="nav">
    <ul class="nav">
      <span>
        <li>
          <a href="http://www.pgaddison.com/">HOME</a>
        </li>
        <li>
          <a href="http://www.pgaddison.com/#updates">NEWS</a>
        </li>
        <li>
          <a href="#contact">LINKS</a>
        </li>
      </span>
    </ul>
  </section>

  <section id="header">
    <div class="blog-title">
      <div class="blog-bg fixed-image"></div>
      <div class="title-name blog-name">This is the title of the blog post, yay! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat labore est amet natus laudantium recusandae sed nostrum laborum vero accusantium.
        <div class="subtitle">08 August, 2018 • 50 billion minute read</div>
      </div>
    </div>
  </section>

  <section id="main" class="grid">

    <div class="section-title padded-sides">
      <a class="blog-nav-link">&#10094; PREV</a>
    </div>
    <div class="section-title right-align padded-sides">
      <a class="blog-nav-link">NEXT &#10095;</a>
    </div>

    <div class="main with-shadow padded-sides padded-ends">
      <div class="center-grid">
        <div class="post">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum aliquam, illo possimus assumenda debitis qui! Dolorum consectetur
            eaque iste beatae, sint quae vel ea blanditiis vero fugiat quam! Deleniti animi sapiente numquam officiis corrupti
            nisi repellat veritatis illo suscipit dolorum, est quibusdam, incidunt ducimus eum totam libero, nemo deserunt
            facilis reprehenderit temporibus accusamus autem dolores? Quasi, quibusdam cum! Aut in at qui, perferendis deserunt,
            ab vero dolores quisquam eius non cupiditate quaerat, quasi nihil facilis? Cum illo recusandae neque aliquid?</p>
            <hr class="short">
            
            <h3 class="post-section" id="post-section">
                <a href=#post-section>#</a>
                This is a post section title!
            </h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus tenetur ab ullam minus quisquam quos temporibus
            omnis cum possimus perferendis earum voluptas, ex sint debitis aliquid cumque dolorum maiores excepturi mollitia
            delectus eum repudiandae nesciunt sunt nobis? Voluptatem, tenetur ipsam quo accusamus eveniet, quod provident,
            iste debitis similique harum voluptas. Quas, expedita reiciendis cumque incidunt eaque quae veritatis ullam tempora
            nostrum libero vero quidem nemo a nulla molestiae nihil sed id praesentium sit ipsum. Vero quia incidunt rem
            nemo earum consectetur quisquam aliquam ab suscipit voluptatum, et asperiores! Pariatur officia totam maxime
            quos ducimus, architecto dolorum. Minima laudantium illo dolorum veritatis eos repellat distinctio ut, fugit
            laborum iusto officia provident non maiores architecto eveniet natus rerum excepturi expedita iure officiis ducimus
            omnis voluptates beatae. Dolorum autem architecto aut laudantium natus rerum doloremque tempore sint, voluptate
            repellendus fugiat perspiciatis voluptates nemo nulla dolores consequuntur et sit nostrum est inventore similique.
            Veniam facere dolores minima perspiciatis quae mollitia placeat itaque quo sapiente reiciendis alias optio iste
            voluptates deserunt voluptatibus, nemo eos debitis ut fugit libero sed repudiandae vel quaerat vero! Voluptates
            aliquid nobis dicta quisquam debitis voluptas dolorum sit labore, possimus est cupiditate sint, facilis voluptatibus
            tenetur magnam itaque consequatur inventore animi id recusandae similique iste. Dolorem quasi possimus aut accusamus
            quo ex! Obcaecati perferendis ea error reiciendis id! Laudantium perspiciatis animi optio recusandae, autem nisi
            molestiae explicabo voluptatibus rem repudiandae sapiente quas aperiam nobis quaerat eaque ut voluptate iure
            dicta excepturi voluptas. Ipsum fuga obcaecati incidunt fugit animi quod! Possimus incidunt libero itaque vel
            pariatur nam sed, magni dolorem animi in exercitationem est consectetur, vitae mollitia commodi provident, fugit
            esse facere? Hic, quasi! Quia repellendus laboriosam nisi nihil et? Esse ut quia id molestiae commodi quod nemo,
            obcaecati officia consequatur facere sunt earum voluptatem fugit placeat alias illo? Ducimus aliquid et maiores
            saepe eveniet repellat sapiente ipsum cum. Optio sapiente saepe unde nobis exercitationem ea totam, nesciunt
            assumenda ad eos necessitatibus sequi aliquid possimus tempore animi, fugit, voluptatem qui voluptas veniam ipsam
            voluptatibus sed tempora neque? Deserunt nulla accusamus eveniet, assumenda eum ratione sint modi quibusdam,
            saepe error dicta fugiat eos. Sapiente odio, libero distinctio quibusdam provident, amet tenetur deleniti harum
            repudiandae, numquam accusamus qui ex enim vitae. Eos repudiandae ullam iusto possimus in libero, aperiam ipsa
            quas similique illo, sunt labore voluptatem enim culpa! Adipisci nam dolor quia tenetur tempora quo delectus!
            Architecto assumenda optio suscipit. Consequuntur, dolorum! Et, a amet blanditiis tempore dicta quis consequatur
            velit, rerum doloremque neque quas nam, ab voluptas. Excepturi architecto qui quam dolores eum mollitia magni
            voluptate fugiat rerum sint odio, nisi consequuntur quo, asperiores deserunt ipsam ipsa impedit illum facilis
            ratione? At suscipit ipsam reprehenderit culpa, natus quasi explicabo fugiat nostrum est necessitatibus accusamus
            repellat autem earum neque expedita odio nobis corrupti dolor repellendus velit illum quae adipisci animi. Itaque
            inventore tempore veniam culpa dolorum praesentium, ullam optio dicta adipisci ad repudiandae magnam recusandae
            similique quod ea! Nemo illum incidunt, voluptatum, tenetur impedit minus doloribus repellendus iure culpa aliquid
            quia dignissimos! Tenetur, laudantium.
          </p>
          <hr class="short double">
        </div>
      </div>
    </div>

    <div class="section-title section-foot padded-sides">
      <a class="blog-nav-link">&#10094; PREV</a>
    </div>
    <div class="section-title section-foot right-align padded-sides">
      <a class="blog-nav-link">NEXT &#10095;</a>
    </div>

  </section>

  <div class="divider"></div>

  <section id="contact" class="grid">
    <div class="section-title contact-title padded-sides">WHERE YOU CAN FIND ME</div>
    <!-- <a href="# " class="top-button"><div class="section-title contact-title padded-sides right-align">&#9206;</div></a> -->

    <div class="media-links center-grid">
      <ul>
        <li>
          <a href="https://github.com/parkergreyaddison/" target="_blank">GITHUB</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/parkeraddison/" target="_blank">LINKEDIN</a>
        </li>
        <li>
          <a href="mailto: parkergreyaddison@gmail.com">CONTACT</a>
        </li>
      </ul>
    </div>

  </section>

  <div class="foot smaller padded-sides">© 2018 Parker Grey Addison | Image from Unsplash</div>

  <!-- jQuery first, then Popper.js -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>

</body>

</html>