#aside-wrapper {
    position: absolute;
    /* right: calc(-1 * var(--aside-width)); */
    /* right: var(--side-margin); */
    /* margin: 0; */
    /* left: calc(100vw - 2*var(--side-margin) - 2*4em - var(--aside-width)); */
    left: calc(
        100% +
            (
                100vw - 100% - var(--gap) - var(--header-width) -
                    var(--side-margin)
            ) - var(--aside-width) - var(--side-margin)
        /* - 4em */
    );
    top: 0;
    width: var(--aside-width);
}

aside article {
    padding: 0;
    margin: 0;
    margin-bottom: 4em;
}

aside .title {
    margin: 0;
}

aside .description {
    opacity: 0;
    max-height: 0;
    margin: 0.25em 0;
    transition: opacity var(--transition-speed),
        max-height var(--transition-speed);
    hyphens: auto;
}

aside article:hover .description {
    opacity: 1;
    max-height: 3em;
}

aside .date {
    display: none;
    color: var(--text-color-alt);
    font-weight: 500;
    font-size: 0.9em;
    margin: 1em 0;
    margin: 0;
}

aside .see-more a {
    padding-bottom: 4em;
}

/* === Smaller Viewports ==================================================== */

@media only screen and (max-width: 960px) {
    #aside-wrapper {
        position: static;
        width: 100%;
    }

    .article-wrapper {
        /* display: flex;
        justify-content: space-between;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        gap: 3em;
    }

    aside article {
        margin-bottom: 0;
    }

    aside .description {
        display: none;
        height: 0;
    }
}
