</div> <!-- Closes the "main-wrapper" -->

<footer>
    <div class="foot">
        <p class="message">
            Thanks for stopping by,
            <a class="hover-bar" href="https://github.com/parkeraddison"><code>&lt;/&gt;</code> on GitHub</a>
        </p>
        <div class="content">
            <h4>You can find me elsewhere on the web at:</h4>
            <div class="links">
                <p>
                    <i class="fab fa-github"></i>
                    <a href="https://github.com/parkeraddison">git/parkeraddison</a>
                </p>
                <p>
                    <i class="fab fa-linkedin-in"></i>
                    <a href="https://linkedin.com/in/parkeraddison">in/parkeraddison</a>
                </p>
                <p>
                    <i class="fas fa-university"></i>
                    <a href="http://acsweb.ucsd.edu/~pgaddiso/">ucsd/~pgaddiso</a>
                </p>
            </div>
            <h4>I'll leave you with this parting thought:</h4>
            <div class="parting">
                <p>
                    I hope that you enjoy your day.
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="{{ .Site.BaseURL }}js/main.js"></script>

</body>