<body>

    <div class="main-wrapper">

        <header>
            <div class="title">
                <a href="{{ .Site.BaseURL }}">Addison</a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a class="hover-bar" href="{{ .Site.BaseURL }}blog">Blog</a>
                    </li>
                    <li>
                        <a class="hover-bar" href="{{ .Site.BaseURL }}projects">Projects</a class="hover-bar">
                    </li>
                    <li>
                        <a class="hover-bar" href="{{ .Site.BaseURL }}more">More</a class="hover-bar">
                    </li>
                </ul>
            </nav>
        </header>