<section class="card-container project-container">
    {{ range sort .projects.ByDate.Reverse }}
    <article class="card contains-anchor project-card">

        {{ $url := .Permalink }}

        {{ if .Params.ProjectURL }}
        {{ $url = .Params.ProjectURL}}
        {{ end }}

        <h2 class="title"><a href="{{ $url }}">{{ .Title }}</a></h2>
        <p class="subline">{{ .Params.Subline }}</p>
        {{ if or (.Params.Image) (.Params.Video) }}
        <figure class="image">
            {{ if .Params.Video }}
            <iframe src="{{ .Params.Video }}" frameborder="0" allowfullscreen></iframe>
            {{ else }}
            <img src="{{ replace .Params.Image "./" .Site.BaseURL }}" alt="">
            {{ end }}
        </figure>
        {{ end }}
        <p class="description content">
            {{ .Params.Description | .RenderString }}
        </p>
    </article>
    {{ end }}

    {{ if .ctx.IsHome }}
    <!-- <a class="see-more card" href="{{ .ctx.Site.BaseURL }}projects">See more &rarr;</a> -->
    <a class="see-more card" href="{{ .ctx.Site.BaseURL }}projects">
        Keep exploring
        <i class="fas fa-arrow-right"></i>
    </a>
    {{ end }}
</section>