<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}


<section id="landing" class="grid-main">
    <div class="intro">
        <img src="{{ page.image }}" alt="Profile portrait of Parker Addison">
        <div class="writing">
            <h1>Hi there, <span class="wave">👋</span>
                <br>
                I'm {{ site.author.name }}
            </h1>
            <p>
                {{ page.summary }}
            </p>
            <p>
                {%- include action.html href=page.cta.url text=page.cta.message -%}
            </p>
        </div>
    </div>
</section>

{% include header.html %}

<main class="layout-home">

    <section id="news">
        <h1>News 👉</h1>
        {% include news.html limit=5 %}
    </section>

    <section id="projects">
        <h1>Proud of these projects 🙌</h1>
        {% include projects.html limit=3 %}
    </section>

    <section id="posts">
        <h1>Latest posts ✍</h1>
        {% include posts.html limit=3 %}
    </section>

    <section id="contact">
        <h1>Call me maybe? 🤙</h1>
        <p>Got a cool data science idea? Want to ask questions about data science at UC San Diego or Deloitte? Just want some company?</p>
        <p>Well wait no longer, {% include action.html href="/contact" text="here's where you can find me on the web" %}</p>
    </section>

</main>

{%- include footer.html -%}

{%- include tail.html -%}

<script>
    document.addEventListener('DOMContentLoaded', function () {

        // === Header stickiness ================================================ //
        const stickyElm = document.querySelector('header')

        const observer = new IntersectionObserver(
            ([e]) => {
                e.target.classList.toggle('at-top', e.boundingClientRect.y <= 0);
            },
            { threshold: [1] }
        );

        observer.observe(stickyElm);

        // === Hand waving ====================================================== //
        const wavingHand = document.querySelector('.wave');

        function waveTheHand() {
            if (wavingHand.classList.contains('animate-me')) return;
            wavingHand.classList.add('animate-me');
            setTimeout(() => wavingHand.classList.remove('animate-me'), 1600);
        }

        waveTheHand();
        wavingHand.addEventListener("mouseenter", waveTheHand);

    });
</script>