<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}
    
<main class="layout-home">
    
    <section id="intro">
        <div>
            <img src="{{ page.image }}" alt="Profile portrait of Parker Addison" height="100" width="100">
        </div>
        <div>
            <h1>Hi there, 👋
                <br>
                I'm {{ site.author.name }}
            </h1>
            <p>
                {{ page.summary }}
            </p>
            <p>
                {%- include action.html href=page.cta.url text=page.cta.message -%}
            </p>
        </div>
    </section>
    
    {% include header.html %}
    
    <section id="news">
        <h1>News 👉</h1>
        {% include news.html limit=5 %}
    </section>

    <section id="projects">
        <h1>Proud of these projects 🙌</h1>
        {% include projects.html limit=2 %}
    </section>

    <section id="posts">
        <h1>Latest posts ✍</h1>
        {% include posts.html limit=3 %}
    </section>

    <section id="contact">
        <h1>Call me maybe? 🤙</h1>
        <p>Got a cool data science idea? Want to ask questions about data science at UC San Diego or Deloitte? Just want some company?</p>
        <p>Well wait no longer, {% include action.html href="/contact" text="here's where you can find me on the web" %}</p>
    </section>

</main>

{%- include footer.html -%}

{%- include tail.html -%}