{{ define "css" }}
{{ partial "include-css" "index" }}
{{ end }}

{{ define "main" }}

<style>
    .clear-page {
        min-height: 100vh;
    }
</style>

<section id="landing" class="grid">
    <div class="intro">
        <img src="/images/parker-addison-min.jpg" alt="" height=180>
        <div class="writing">
            <h1>
                <span class="nowrap">Hi there, <span class="wave">👋</span><br />
                    I&rsquo;m Parker Addison</span>
            </h1>

            <p>
                I'm studying at the intersection of data science, statistics, and society — delving into data
                science and what it can do for the world.
            </p>
            <p>
                <a href="portfolio" class="see-more">Check out what I've done so far</a>
            </p>
        </div>
    </div>
</section>
{{ partial "header" . }}

{{ partial "news" . }}
{{/* 
<section id="thoughts" class="grid">
    <h1 class="section-title">I'm thinking…</h1>
    <article>
    <ul>
        <li><p>The FTC recently ruled this... what aodfuast poasdig tkjhav ae asdof ro the aoiu oi paosirec in data science?</p></li>
    </ul>
    </article>
</section> */}}

<section id="featured" class="grid">
    <h1 class="section-title">Proud of these projects 🙌</h1>

    {{ partial "project" "projects/dvorak.md" }}

    {{ partial "project" "projects/verbosified.md" }}

    <article>
        <a href="{{ .Site.BaseURL }}portfolio" class="see-more">Interested? Check out my projects</a>
    </article>
</section>

{{ partial "blog" . }}

<section id="contact" class="grid">
    <h1>Call me maybe? 🤙</h1>
    <article>
        <p>
            Have a cool data science idea? Want to ask questions about data science at UC San Diego? Just want some company?
        </p>
        <p>
            Well wait no longer, <a href="{{ .Site.BaseURL }}contact" class="see-more">here's where you can find me on
                the web</a>
        </p>
    </article>
</section>

<script>
document.addEventListener('DOMContentLoaded', function () {

    // === Header stickiness ================================================ //
    const stickyElm = document.querySelector('header')

    const observer = new IntersectionObserver(
        ([e]) => {
            e.target.classList.toggle('at-top', e.boundingClientRect.y <= 0);
        },
        { threshold: [1] }
    );

    observer.observe(stickyElm);

    // === Hand waving ====================================================== //
    const wavingHand = document.querySelector('.wave');

    function waveTheHand() {
        if (wavingHand.classList.contains('animate-me')) return;
        wavingHand.classList.add('animate-me');
        setTimeout(() => wavingHand.classList.remove('animate-me'), 1600);
    }

    waveTheHand();
    wavingHand.addEventListener("mouseenter", waveTheHand);

});
</script>

{{ end }}
