h1 {
    color: var(--accent-purple);
    padding-top: 2em;
    text-align: center;
}

h2 {
    color: var(--text-light-grey);
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    padding-bottom: 1em;
}

p:first-of-type::first-letter {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.35em;
    padding-top: 0.2em;
    padding-right: 0.1em;
}

p {
    text-align: justify;
    max-width: 42em;
    padding: 1em;
    margin: auto;
}

:root {
    --image-width: 80%;
}

@media (min-width: 800px) {
    :root {
        --image-width: 50%;
    }
}

img {
    width: var(--image-width);
    text-align: center;
    position: relative;
    margin: auto;
    left: calc((100% - var(--image-width)) / 2);
}

.caption {
    width: var(--image-width);
    position: relative;
    left: calc((100% - var(--image-width)) / 2);
    margin: 0;
    padding: 0;
    color: var(--text-light-grey);
    font-family: Consolas, Menlo, monospace;
    font-size: 0.9em;
}
