#table-of-contents {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
}

#table-of-contents p {
    text-align: right;
    padding-right: 1em;
    border-right: 1px solid var(--element-light-grey);
}

#table-of-contents li a {
    color: var(--text-light-grey);
    margin-left: 1em;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

#table-of-contents li a:hover,
#table-of-contents li a:focus {
    color: var(--body-text-color);
}

#md {
    padding: 1em;
}

#md h1 {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text-extra-light-grey);
    border-bottom: 1px solid var(--element-light-grey);
    margin-top: 2em;
}

#md h2 {
    font-size: 1.4em;
    margin: 0;
    margin-top: 1em;
    display: inline-block;
}

#md h3 {
    font-size: 1.2em;
    font-weight: lighter;
    margin: 0;
}

#md h2 a:hover,
#md h2 a:focus {
    text-decoration: none;
}

#md h2 a::after {
    content: "\2192";
    font-family: Consolas, Menlo, monospace;
    font-size: 1em;
    position: relative;
    top: -0.05em;
    left: 0.5em;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
}

#md h2 a:hover::after,
#md h2 a:focus::after {
    left: 1em;
}

#md table {
    border-spacing: 1em 8px;
    padding-bottom: 2em;
    padding-top: 1em;
}

#md th {
    position: relative;
    font-size: 1.2em;
    left: -1em;
}

#md td {
    min-width: 8em;
}

#md tr td:nth-child(even) {
    font-weight: 100;
    font-size: 1.2em;
}